#titol {
    font-size: 50px;
    text-decoration: underline;
}
.text-important {
    color: red;
    font-weight: bold;
}

li:first-child{
    color: red;
}
li{
    color: green;
}
li:last-child{
    color: blue;
}

.vermell{
    color: red;
}
#wikipedia:hover {
    color: blueviolet;
    cursor: pointer;
}
.gran {
    font-size: 25px;
}
.negreta {
    font-weight: bold;
}
.subrallat {
    text-decoration: underline;
}
a:hover{
    color: deeppink;
    cursor: cell;
}